.new-list__controls {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
    text-align: left;
    
  }
   
  .new-list__control input {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 20rem;
    width: 600px;
    margin-top: 7px;
  }
  
  .new-list__actions {
    text-align: right;
  }